body {
  background-color: black;
 
  height:100%;
  background-size: 5px 5px;
}

h1 {
  color: silver;
  font-size: 25px;
}
.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.text_space {
  margin-top: 20px;
}
.row_space {
  margin-top: 5px;
}

.space {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
   margin-top: 20px;
   margin-bottom: 0px;
   width: 100%;
   padding: 30px 30px 15px 30px;
   border-radius: 10px;
   border: 1px solid white;
   background-color: white;
}

@media (min-width: 300px) {
  .container {
    min-width: 400px;
  }
  .grid-item {
      max-height: 100px;
      max-width: 100%;
      overflow: hidden;

      

  }
}


/* gallery display */
.photos {
  display: block;
}

.photos ul {
  list-style: none;

}

.photos ul li { display: inline; }

.photos ul li a {
  display: block;
  float: left;
  padding: 1px;
  margin-right: 5px;
  margin-bottom: 2px;
  opacity: 0.75;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.photos ul li a:hover {
  opacity: 1.0;
}

.photos ul li a img {
  /*border: 6px solid #e1d9ec;*/
}


/*#nav {
 margin: 0 0 0 0;
}
 
#nav ul li {
 display: inline;
 margin: 0 0 10px 0; 
}
 
#nav a {
 text-decoration: none;
 font-size: 15px;
 padding: 0 20px 0 0;
 color: black;
}
 
#nav a:hover {
 color: silver;
}

.nav-right {
  float: right;
}


.logo {
  width: 100px;
}*/

.img_grid {
  max-height: 100px;
  max-width: 100px; 
}
.opacity {
  opacity: 0.2;
  
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }

/* ---- masonry grid ---- */

.img-big:hover {
  opacity: 1;
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
  transform: scale(2.5);
  transition: opacity 5s linear;
  transition: 5s ease-in;
  transition: 5s ease-out;
  
}
.img-bigger:hover{
 
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
  transform: scale(2.5);
  
  transition: 8s ease-in;
  transition: 8s ease-out;
  
}
.fluid_adj {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.grid {
  width: 500px;
  max-height: 500px;
  background-color: transparent;
  margin: 0 auto;
  background-image: url('/img/grid/logo_grid.png'); 

  position: relative;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center; 
}
.grid-item {
  max-height: 100px;
  max-width: 100px;
  overflow: hidden;
  border-radius: 50px;
  transition: visibility 4s 4s, opacity 4s linear;
  /*border: 1px solid ghostwhite;*/
  size:contain;
  background-position:center;
  
}
.grid-item:hover { 
  overflow: visible;
  border: 0px solid ghostwhite;
  max-height: 300px;
  width: 100%;
  opacity: 1;  
}

  .grid-item--width2 { width: 320px; }
  .grid-item--width3 { width: 480px; }
  .grid-item--width4 { width: 640px; }

  .grid-item--height2 { height: 200px; }
  .grid-item--height3 { height: 260px; }
  .grid-item--height4 { height: 360px; }


.img-zoom:active {
  border-radius: 80px;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    /*transform-duration: 5s;*/
    -webkit-box-shadow: 0 0 1em #000;
    box-shadow: 0 0 1em #000;
    transition: 2s ease;
    transition delay: 5s;
    -webkit-transition: all 5s ease-out-in;
    -moz-transition: all 5s ease-out-in;
    -o-transition: all 5s ease-out-in;
    -ms-transition: all 5s ease-out-in;
}
 